USE [Praktyka]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[sp_organizacje_pozarządowe]
AS

DECLARE @cnt INT
DECLARE @lastSourceDate DATE

-- Assign the count of records to @cnt
SELECT @cnt = COUNT(*)
FROM [dbo].[organizacje_pozarządowe]

-- Main JSON construction
SELECT (
    SELECT 
        JSON_QUERY((
            SELECT 
                  'pl' AS [language]
                , 'Organizacje pozarządowe' AS [title]
                , CONVERT(VARCHAR(19), GETDATE(), 120) AS [generationDate]
                , '' AS [source]
                , 'Urząd Miasta Szczecin, pl. Armii Krajowej 1, 70-456 Szczecin' as [owner]
                , CONVERT(VARCHAR(10), @lastSourceDate, 120) AS [sourceDate]
            FOR JSON PATH, WITHOUT_ARRAY_WRAPPER
        )) AS [description]
        ,JSON_QUERY('["id", "Nazwa", "Typ", "Siedziba", "Adres korespondencji taki sam jak siedziby", "Pola Aktywności", "Cele i Dokonania Organizacji"]') AS [columnsName]
        ,JSON_QUERY('["id", "name", "legalForm", "address", "hasSameAddress", "benefitZones", "aims"]') AS [columnsVariable]
        ,JSON_QUERY('["ID", "Nazwa", "Typ", "Siedziba", "Adres korespondencji taki sam jak siedziby", "Pola Aktywności", "Cele i Dokonania Organizacji"]') AS [columnsDescription]
        ,JSON_QUERY('["int", "string", "string", "object", "boolean", "string", "string"]') AS [columnsType]
        ,@cnt AS [count]
        ,JSON_QUERY((
            SELECT 
                iif(isnull([id], '') = '', '-', [id]) AS id
				,iif(isnull([name], '') = '', '-', [name]) AS Nazwa
                ,iif(isnull([legalForm], '') = '', '-', [legalForm]) AS Typ
                , JSON_QUERY((
                    SELECT 
                          iif(isnull([address_terc], '') = '', '-', [address_terc]) AS Terc
                        , iif(isnull([address_province], '') = '', '-', [address_province]) AS Województwo
                        , iif(isnull([address_district], '') = '', '-', [address_district]) AS Powiat
                        , iif(isnull([address_commune], '') = '', '-', [address_commune]) AS Gmina
                        , iif(isnull([address_simc], '') = '', '-', [address_simc]) AS Simc
                        , iif(isnull([address_city], '') = '', '-', [address_city]) AS Miasto
                        , iif(isnull([address_postcode], '') = '', '-', [address_postcode]) AS [Kod pocztowy]
                        , iif(isnull([address_street], '') = '', '-', [address_street]) AS Ulica
                        , iif(isnull([address_buildingAndFlatNumber], '') = '', '-', [address_buildingAndFlatNumber]) AS [Numer budynku i mieszkania]
                    FOR JSON PATH, WITHOUT_ARRAY_WRAPPER
                )) AS [Siedziba]
                , iif(isnull([hasSameAddress], '') = '', '-', [hasSameAddress]) AS [Adres korespondencji taki sam jak siedziby]
                , iif(isnull(CAST([benefitZones] AS VARCHAR(MAX)), '') = '', '-', CAST([benefitZones] AS VARCHAR(MAX))) AS [Pola Aktywności]
                , iif(isnull(CAST([aims] AS VARCHAR(MAX)), '') = '', '-', CAST([aims] AS VARCHAR(MAX))) AS [Cele i Dokonania Organizacji]
            FROM [dbo].[organizacje_pozarządowe]
            FOR JSON PATH
        )) AS [results]
    FOR JSON PATH, WITHOUT_ARRAY_WRAPPER
) AS outjson