USE [Praktyka]
GO
/****** Object:  StoredProcedure [dbo].[sp_organizacje_pozarządowe]    Script Date: 08.08.2024 10:51:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[sp_organizacje_pozarządowe]
AS

DECLARE @cnt INT
DECLARE @lastSourceDate DATE

-- Assign the count of records to @cnt
SELECT @cnt = COUNT(*)
FROM [dbo].[organizacje_pozarządowe]

-- Main JSON construction
SELECT (
    SELECT 
        JSON_QUERY((
            SELECT 
                  'pl' AS [language]
                , 'Organizacje pozarządowe' AS [title]
                , CONVERT(VARCHAR(19), GETDATE(), 120) AS [generationDate]
                , '' AS [source]
                , 'Urząd Miasta Szczecin, pl. Armii Krajowej 1, 70-456 Szczecin' as [owner]
                , CONVERT(VARCHAR(10), @lastSourceDate, 120) AS [sourceDate]
            FOR JSON PATH, WITHOUT_ARRAY_WRAPPER
        )) AS [description]
        ,JSON_QUERY('["id", "Nazwa", "Typ", "Terc", "Województwo", "Powiat", "Gmina", "Simc", "Miasto", "Kod pocztowy", "Ulica", "Numer budynku i mieszkania", "Czy adres korespondencji jak siedziby", "Pola aktywności", "Cele i dokonania organizacji"]') AS [columnsName]
        ,JSON_QUERY('["id", "name", "legalForm", "terc", "province", "district", "commune", "simc", "city", "postcode", "street", "buildingAndFlatNumber", "hasSameAddress", "benefitZones", "aims"]') AS [columnsVariable]
        ,JSON_QUERY('["ID", "Nazwa organizacji", "Typ organizacji", "Terc", "Wojewodztwo", "Powiat", "Gmina", "Simc", "Miasto", "Kod pocztowy", "Ulica", "Numer budynku i mieszkania", "Czy adres korespondencji jest taki sam jak siedziby", "Ogolny opis aktywnosci organizacji ", "Szczegolowy opis celow organizacji"]') AS [columnsDescription]
        ,JSON_QUERY('["int", "string", "string", "string", "string", "string", "string", "string", "string", "string", "string", "string", "boolean", "string", "string"]') AS [columnsType]
        ,@cnt AS [count]
        ,JSON_QUERY((
            SELECT 
                iif(isnull([id], '') = '', '-', [id]) AS id
                , iif(isnull([name], '') = '', '-', [name]) AS name
                , iif(isnull([legalForm], '') = '', '-', [legalForm]) AS legalForm
                , iif(isnull([address_terc], '') = '', '-', [address_terc]) AS terc
                , iif(isnull([address_province], '') = '', '-', [address_province]) AS province
                , iif(isnull([address_district], '') = '', '-', [address_district]) AS district
                , iif(isnull([address_commune], '') = '', '-', [address_commune]) AS commume
                , iif(isnull([address_simc], '') = '', '-', [address_simc]) AS simc
                , iif(isnull([address_city], '') = '', '-', [address_city]) AS city
                , iif(isnull([address_postcode], '') = '', '-', [address_postcode]) AS postcode
                , iif(isnull([address_street], '') = '', '-', [address_street]) AS street
                , iif(isnull([address_buildingAndFlatNumber], '') = '', '-', [address_buildingAndFlatNumber]) AS buildingAndFlatNumber
                , iif(isnull([hasSameAddress], '') = '', '-', [hasSameAddress]) AS hasSameAddress
                , iif(isnull(CAST([benefitZones] AS VARCHAR(MAX)), '') = '', '-', CAST([benefitZones] AS VARCHAR(MAX))) AS benefitZones
                , iif(isnull(CAST([aims] AS VARCHAR(MAX)), '') = '', '-', CAST([aims] AS VARCHAR(MAX))) AS aims
            FROM [dbo].[organizacje_pozarządowe]
            FOR JSON PATH
        )) AS [results]
    FOR JSON PATH, WITHOUT_ARRAY_WRAPPER
) AS outjson